{% extends 'base.html' %}

{% block title %}Пополните депозит{% endblock %}

{% block content %}

 Искусственная нейросеть определения вероятности дефолта банка <br>
 {{mes}} <br>

{% if request.user.is_authenticated %}
    <form action = "{% url 'ai:updateacc' %}" method = "POST">

        {% csrf_token %}
        <input type="text" required placeholder="Введите сумму" name="name"><br>
        <!<button type="submit"> <!Пополнить баланс<!</button>
        <input class="btn btn-primary" type="submit" value="Пополнить баланс">
    </form>
{% else %}
       Для продолжения требуется авторизация
{% endif %}






{% endblock %}