{% extends 'base.html' %}

{% block title %}Оферта{% endblock %}

{% block content %}

<h2> Искусственная нейросеть определения вероятности дефолта банка </h2>
<br />
<h3> Для использования искусственной нейросети небходимо согласиться с условиями следующей оферты: </h3>
<br />
Общество с ограниченной ответственностью «Аналитическая группа Амелина» в лице Генерального директора Амелина Игоря Эдуардовича, действующего на основании Устава, далее именуемое «Администрация сайта», предлагает заключить Договор на использование технических возможностей Сайта на условиях настоящей оферты.<br />
<br />
Настоящий документ в соответствии со статьей 437 Гражданского кодекса Российской Федерации (ГК РФ) является публичной офертой на заключение Договора на использование технических возможностей Сайта, а также иных услуг на условиях, определенных в настоящей Оферте, адресованной Администрацией сайта Заказчику.<br />
<br />
Акцептом настоящей Оферты признается ответ лица, которому адресована Оферта, о ее принятии. В соответствии со статьей 438 ГК РФ акцепт настоящей Оферты является полным и безоговорочным и осуществляется путём совершения Заказчиком фактических действий, направленных на выполнение изложенных в ней положений, в частности посредством регистрации на Сайте, внесения денежных средств в порядке и на условиях, определенных в данной Оферте.<br />
<br />

Договор на использование технических возможностей Сайта, а также иных услуг, признается заключенным между Администрацией сайта и Заказчиком с момента акцепта настоящей Оферты.<br />
<br />
1. ТЕРМИНЫ, ИСПОЛЬЗУЕМЫЕ В ОФЕРТЕ<br />
<br />
    1.1. Для целей настоящей Оферты нижеприведенные термины используются в следующем значении:<br />
<br />
    1.1.1. Сайт – результат интеллектуальной деятельности, представляющий собой составное произведение, расположенное в информационно-телекоммуникационной сети (сети Интернет) под определенным сетевым адресом и включающее в себя программы для ЭВМ (программное обеспечение), обеспечивающие его функционирование, графическое решение (дизайн), контент, размещенный на нем, в том числе, но не ограничиваясь, текстовую информацию, фотографические изображения, картинки, видеоролики, видеозаписи и др. Под Сайтом в тексте настоящего Соглашения понимается Сайт, расположенный в сети Интернет под доменным именем (адресом) amelin-aga.com, а также его производные.<br />
<br />
    1.1.2. Администрация сайта – лицо, обладающее правами на владение, использование и управление Сайтом, указанным в пункте 1.1.1. настоящей Оферты, и предоставляющее его в пользование Заказчикам.<br />
<br />
    1.1.3. Заказчик – физическое лицо, действующее в своих личных интересах или через уполномоченного представителя, или юридическое лицо (организация) в лице своего уполномоченного представителя, действующего в интересах такого юридического лица, или индивидуальный предприниматель, действующий в своих личных интересах или через уполномоченного представителя, использующее Сайт в соответствии с его основным назначением.<br />
<br />
    1.1.4. Исполнитель – физическое лицо (гражданин), действующее в своих личных интересах или через уполномоченного представителя, или юридическое лицо (организация) в лице уполномоченного представителя, действующего в интересах такого юридического лица, или индивидуальный предприниматель, действующий в своих личных интересах или через уполномоченного представителя, выполнившее (-ий) заказ Заказчика.<br />
<br />
    1.1.5. Заказ – задание Заказчика на выполнение определенной работы (оказание услуги), информация о которой размещается Заказчиком на Сайте, в том числе на написание (подготовку) статей, новостей, текстов, переводов и т.д., а также на приобретение (покупку) статей, размещенных на Сайте Исполнителями, а также на оказание иных услуг.<br />
<br />
    1.1.6. Профиль – специальное виртуальное пространство на Сайте, выделяемое (предоставляемое) пользователю (Заказчику и Исполнителю) после регистрации, содержащее определенную информацию о нем и необходимое для использования Сайта в соответствии с его основным назначением.<br />
<br />
    1.1.7. Баланс – личная карточка Заказчика на Сайте, состоящая из учетных записей поступивших от него Администрации сайта денежных средств, отражающая все финансово-кредитные операции, осуществленные Заказчиком, а также остаток неизрасходованных Заказчиком средств.<br />
<br />
    1.2. В Оферте могут быть использованы понятия и термины, не определенные в пункте 1.1. В этих случаях толкование понятий и терминов производится в соответствии с текстом и смыслом данной Оферты. В случае отсутствия однозначного толкования понятия и термина в тексте Оферты следует руководствоваться толкованием понятий и терминов: в первую очередь – определенным на Сайте, указанном в пункте 1.1.1. настоящей Оферты, во вторую очередь – в соответствии с гражданским законодательством Российской Федерации.<br />
<br />
    2. ПРЕДМЕТ ОФЕРТЫ<br />
<br />
    2.1. В соответствии с настоящей Офертой Администрация сайта обязуется оказывать Заказчику услуги по предоставлению в пользование Сайта в соответствии с его основным назначением, а Заказчик обязуется оплачивать данные услуги в размере, порядке и на условиях, определенных в тексте данной Оферты.<br />

2.2. Администрация сайта предоставляет Заказчику следующие услуги по использованию Сайта:<br />
<br />
2.2.1. Услуги по предоставлению возможности размещения заказов на Сайте, в том числе на подготовку статей, их рерайт, перевод статей, подготовку новостей, покупку (приобретение) готовых статей и т.д.<br />
<br />
2.2.2. Услуги по предоставлению возможности заказа выполнения иных задач, в том числе постинга на Сайтах, комментирования на форумах в сети Интернет и т.д.<br />
<br />
2.2.3. Услуги по проверке статей (текстов) на уникальность с использованием программного обеспечения Администрации сайта.<br />
<br />
2.2.4. Услуги по проверке статей (текстов) на наличие/отсутствие в ней орфографических, пунктуационных и речевых ошибок с использованием программного обеспечения Администрации сайта.<br />
<br />
2.3. Основное назначение Сайта, указанного в пункте 1.1.1. настоящей Оферты, – размещение Заказчиком своих заказов в целях их выполнения Исполнителями или Администрацией сайта.<br />
<br />
2.4. Содержание и цель заказа, а также условия выполнения, в том числе цена, срок, объем и т.д., определяются Заказчиком самостоятельно, за исключением случаев, если иное не определено техническим устройством Сайта или не установлено Администрацией сайта.<br />
<br />
3. УСЛОВИЯ РАЗМЕЩЕНИЯ И ВЫПОЛНЕНИЯ ЗАКАЗА<br />
<br />
3.1. Оказание услуг по настоящей Оферте производится только после регистрации Заказчика на Сайте, осуществляемой в порядке и на условиях, определяемых в соответствии с техническими возможностями и оснащенностью Сайта, и предоставления ему профиля по результатам проведения данной процедуры регистрации.<br />
<br />
3.2. Размещение заказов на Сайте доступно пользователям, внутренний баланс счетов которых был пополнен хотя бы 1 (один) раз.<br />
<br />
3.3. Выполнение заказов, указанных в пунктах 2.2.1.-2.2.2., осуществляется исключительно Исполнителями. Администрация сайта не участвует в выполнении указанных заказов, не дает Исполнителям указания, обязательные при выполнении соответствующих заказов, и не определяет условия данных заказов.<br />
<br />
3.3.1. Выполнение заказов Заказчика, указанных в пунктах 2.2.1-2.2.2., производится Исполнителями на основании заключаемых в устной форме гражданско-правовых соглашений (купли-продажи статей, оказания услуг по подготовке/выполнению статей, их рерайту, переводу статей, подготовке новостей и т.д.).<br />
<br />
3.3.2. Договоры купли-продажи и оказания услуг заключаются в устной форме путем совершения Исполнителем и Заказчиком фактических действий, свидетельствующих о намерении заключить соответствующий договор. К таким действиям со стороны Исполнителя, в частности, относятся действия по предложению оказания услуг, размещению готовых статей, а также иные действия; к таким действиям со стороны Заказчика, в частности, относятся действия по оплате стоимости услуг.<br />
<br />
3.3.3. Администрация сайта выступает в качестве гаранта перечисления вознаграждения, причитающегося Исполнителю за выполнение заказа Заказчика при условии выполнения данного заказа надлежащим образом и в полном соответствии с установленными в нем требованиями, характеристиками и параметрами, но не является по отношению к Исполнителю, являющемуся физическим лицом, налоговым агентом.<br />
<br />
В связи с тем, что в соответствии с пп. 4.7. и 8.5. настоящей Оферты при возникновении между Заказчиком и Исполнителем гражданско-правовых отношений у Заказчика отсутствует информация о персональных данных Исполнителя (в том числе о настоящем ФИО, дате рождения, документе, удостоверяющем личность, адресе постоянного места жительства и т.п.), для Заказчика, являющегося юридическим лицом, становится невозможным удержание и перечисление в пользу Исполнителя, являющегося физическим лицом, любых налогов, в том числе НДФЛ, сборов и иных обязательных платежей. Уведомление налоговых органов в соответствии со ст. 226 НК РФ для Заказчика также не представляется возможным. Таким образом, обязанность по расчёту и перечислению в свою пользу всех установленных законодательством налогов, сборов и иных обязательных платежей возлагается на Исполнителя в полном объёме.<br />
<br />
3.3.4. Все интеллектуальные (имущественные, исключительные) права на результаты интеллектуальной деятельности, созданные в рамках выполнения заказа Заказчика, переходят от Исполнителя к Заказчику с даты получения Исполнителем вознаграждения за выполнение соответствующего заказа Заказчика.<br />
<br />
3.4. Выполнение заказов, указанных в пункте 2.2.3.-2.2.4., осуществляется исключительно Администрацией сайта в течение 24 (двадцати четырех) часов с момента получения соответствующего заказа от Заказчика.<br />
<br />
3.5. Заказ Заказчика считается выполненным, если Заказчик принял заказ посредством нажатия на кнопку Сайта об одобрении заказа. Если Заказчик в течение 7 (семи) суток с даты выполнения его заказа не одобрил заказ посредством нажатия на соответствующую кнопку Сайта об одобрении заказа, то заказ признается одобренным в автоматическом режиме.<br />
<br />
3.6. Не позднее 10 (десятого) числа каждого месяца Администрация составляет Акт оказанных услуг. Данный документ размещается в аккаунте/личном кабинете Заказчика, подписывается факсимильной подписью Администрации. Данный документ считается полученным Заказчиком в день его размещения в аккаунте/личном кабинете Заказчика. Если в течение 10 (десяти) календарных дней от Заказчика не поступило мотивированных письменных возражений, то Акт оказанных услуг считается принятым Заказчиком без претензий.<br />
<br />
3.7. По запросу Заказчика оригинал Акта оказанных услуг направляется Администрацией почтовым отправлением в течение 10 (десяти) рабочих дней с момента получения такого запроса. Если в течение 10 (десяти) календарных дней от Заказчика с момента получения вышеуказанного документа не поступило мотивированных письменных возражений, то Акт оказанных услуг считается принятым Заказчиком без претензий.<br />
<br />
4. РАСЧЕТЫ МЕЖДУ СТОРОНАМИ<br />
<br />
4.1. За оказание услуг по использованию Сайта, в частности, за предоставление возможностей, указанных в пунктах 2.2.1, 2.2.2., 2.2.3. настоящей Оферты, Заказчик уплачивает Администрации сайта вознаграждение в размере от 8,25 % (восьми целых двадцати пяти сотых процента) до 10 % (десяти процентов) от стоимости всех заказов, размещаемых Заказчиком на Сайте как в адрес Исполнителей, так и в адрес Администрации сайта.<br />
<br />
4.2. За оказание услуг, указанных в пункте 2.2.4. настоящей Оферты, Заказчик уплачивает Администрации сайта вознаграждение в размере, который определяется выбранным Заказчиком тарифом и указанным на Сайте.<br />
<br />
4.3. Вознаграждение, указанное в пункте 4.1. данной Оферты, уплачивается Заказчиком Администрации сайта в порядке 100% (стопроцентной) предварительной оплаты в момент поступления денежных средств от Заказчика в счет оплаты за последующее выполнение заказов Заказчика (за выполнение заказов Заказчика в будущем).<br />
<br />
4.4. Вознаграждение, указанное в пункте 4.2. данной Оферты, уплачивается Заказчиком Администрации сайта в порядке 100% (стопроцентной) предварительной оплаты в момент заказа данных услуг и подлежит списанию с Баланса Заказчика на Сайте.<br />
<br />
4.5. Вознаграждение, причитающееся Исполнителю за выполнение заказа Заказчика, перечисляется Исполнителю после одобрения Заказчиком выполненного Исполнителем заказа. При возникновении спорных ситуаций Администрация сайта вправе самостоятельно на основании имеющихся обстоятельств принять решение о перечислении и/или не перечислении (при условии ненадлежащего исполнения обязательств) Исполнителю вознаграждения.<br />
<br />
4.6. Администрация сайта выступает в качестве агента (посредника) по перечислению денежных средств, причитающихся Исполнителю за выполнение заказа Заказчика, за вычетом своего вознаграждения, указанного и взимаемого в порядке, установленном пунктом 4.1. Оферты, и гарантирует его перечисление в срок и на условиях, предусмотренных техническим устройством Сайта. В связи с указанным, все суммы денежных средств, в том числе причитающиеся Исполнителю, подлежат перечислению Администрации сайта.<br />
<br />
4.7. Выплата вознаграждения Администрации сайта, предоставление средств в счет оплаты услуг Исполнителя, и, соответственно, пополнение баланса Заказчика могут осуществляться Заказчиком посредством перечисления средств на расчетный счет Администрации сайта. Датой оплаты считается дата зачисления денежных средств на расчетный счет Администрации сайта.<br />
<br />
4.8. Комиссии кредитных организаций оплачиваются непосредственно Заказчиком.<br />
<br />
5. ИНТЕЛЛЕКТУАЛЬНАЯ СОБСТВЕННОСТЬ<br />
<br />
5.1. Исключительное право на результаты интеллектуальной деятельности, полученные в рамках выполнения заказов Заказчика, в частности статьи, релизы, новости, обзоры и т.д. принадлежат Заказчику в полном объеме, в том числе и на его отдельные составные части.<br />
<br />
5.2. Действие передаваемого исключительного права не ограничивается территориальными пределами.<br />
<br />
5.3. Указанное исключительное право передается Заказчику с момента принятия одобрения выполненной работы и с даты оплаты услуг Исполнителя.<br />
<br />
5.4. Исполнитель не сохраняет за собой право использовать результаты интеллектуальной деятельности, полученные в результате выполнения заказа Заказчика, самостоятельно или предоставлять аналогичные права на его использование третьим лицам.<br />
<br />
6. ОТВЕТСТВЕННОСТЬ<br />
<br />
6.1. За неисполнение или ненадлежащее исполнение условий настоящей Оферты Администрация сайта и Заказчик несут ответственность в соответствие с требованиями действующего российского законодательства, а также положениями данной Оферты.<br />
<br />
6.2. Пользователи обязуются соблюдать требования Правил Сервиса, размещенные на странице https://text.ru/rules.<br />
<br />
6.3. За нарушение требований п. 6.2 настоящей Оферты Пользователи несут материальную ответственность в размере от 1 000 до 10 000 руб., согласно Правилам Сервиса, размещенных на странице https://text.ru/rules. Администрация Сервиса оставляет за собой право заблокировать аккаунт Пользователя.<br />
<br />
6.4. Администрация сайта не несет ответственность за неправомерное использование Исполнителем результатов интеллектуальной деятельности, созданных/предоставленных в рамках выполнения заказов Заказчика. Вместе с тем Администрация сайта вправе применять все зависящие от нее меры, направленные на исключение/минимизацию нарушений прав и интересов Заказчика в данной сфере.<br />
<br />
6.5. Администрация Сайта не несет ответственность за убытки и расходы, возникшие у Заказчика в связи с использованием Сайта, в частности, за убытки и расходы, вызванные несанкционированным доступом третьих лиц, в том числе других Заказчиков, к аккаунту Заказчика.<br />
<br />
6.6. Администрация сайта не несет ответственность за расходы, убытки и иной ущерб, возникший у Заказчика в связи с ознакомлением с рекламой, рекламными баннерами и объявлениями, контекстной рекламой, гиперссылки на которые размещены на Сайте. Заказчик обязуется не предъявлять к Администрации сайта претензии в отношении данных расходов, убытков и иного ущерба, а поступившие претензии подлежат отклонению.<br />
<br />
6.7. Администрация сайта не несет ответственность за нарушение Исполнителем условий договоров купли-продажи, возмездного оказания услуг, в том числе в случаях неисполнения и/или ненадлежащего исполнения данных услуг. Ответственность в указанных случаях несет непосредственно сам Исполнитель.<br />
<br />
7. ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ<br />
<br />
7.1. Стороны установили обязательный претензионный (досудебный) порядок урегулирования разногласий и споров, возникших в связи с исполнением положений настоящей Оферты. Срок для ответа на предъявленную претензию составляет 10 (десять) рабочих дней с момента её получения.<br />
<br />
7.2. В случае недостижения договоренности спор, вытекающий из настоящей Оферты, подлежит рассмотрению в Арбитражном суде Воронежской области.<br />
<br />
8. ПРОЧИЕ УСЛОВИЯ<br />
<br />
8.1. Стороны согласовали, что в своих правоотношениях они используют электронный документооборот, т.е. такие документы, как Акт оказанных услуг, Акт сверки, иные подобные документы подписываются с помощью факсимильной подписи или путем обмена скан-копиями подписанных документов. Электронные документы имеют силу оригиналов и должны приниматься сторонами в качестве достаточных, использоваться в качестве доказательств в судебных разбирательствах, предоставляться в государственные органы по запросам последних.<br />
<br />
8.2. Во всем остальном, что прямо не предусмотрено настоящей Офертой, Стороны руководствуются соответствующими положениями действующего законодательства РФ.<br />
<br />
8.3. Все изменения, дополнения к настоящей Оферте действительны лишь в том случае, если они оформлены письменно, подписаны уполномоченными представителями Сторон и имеют ссылку на номер и дату настоящей Оферты, с учетом положений пункта 8.1. настоящей Оферты.<br />
<br />
8.4. Администрация сайта вправе осуществлять рассылку на номер телефона и/или адрес электронной почты Заказчика. Настоящим Заказчик предоставляет Администрации сайта право на направление в его адрес различных рассылок, в том числе рекламных.<br />
<br />
8.4.1. В случае несогласия Заказчика на получение рекламной и иной рассылок в соответствии с п. 8.4. настоящей Оферты он обязуется в течение 3 (трех) дней с момента её акцепта письменно уведомить Администрацию сайта о своем несогласии. При соблюдении данного требования Администрация сайта обязуется не осуществлять рассылку в адрес такого Заказчика.<br />
<br />
8.5. При регистрации на Сайте Стороны указывают свои персональные данные, за достоверность, актуальность и полноту которых Администрация сайта ответственности не несёт. Обработка персональных данных Сторон осуществляется в соответствии с законодательством Российской Федерации. Акцепт настоящей Оферты Заказчиком и/или Исполнителем означает его согласие на передачу указанных персональных данных Администрации сайта с целью последующей их обработки.<br />
<br />
Администрация Сайта обрабатывает персональные данные Сторон в целях предоставления им доступа к использованию функционала Сайта, в том числе в целях проверки, исследования и анализа таких данных, позволяющих поддерживать и улучшать функционал и разделы Сайта, а также разрабатывать новый функционал и разделы Сайта. Администрация Сайта принимает все необходимые меры для защиты персональных данных Сторон от неправомерного доступа, изменения, раскрытия или уничтожения. Администрация сайта предоставляет доступ к персональным данным Сторон только тем работникам, подрядчикам и агентам Администрации сайта, которым эта информация необходима для обеспечения функционирования Сайта и предоставления Сторонам доступа к его использованию.<br />
<br />
Раскрытие предоставленной Сторонами информации может быть произведено лишь в соответствии с действующим законодательством Российской Федерации по требованию суда, правоохранительных органов, а равно в иных предусмотренных законодательством Российской Федерации случаях при наличии специального требования от уполномоченных органов.<br />
<br />
8.6. Срок действия Оферты – до 31 декабря 2020 года, а в части финансовых обязательств – до момента их полного исполнения. Администрация сайта вправе в одностороннем порядке вносить изменения в текст настоящей Оферты. При внесении таких изменений Администрация сайта обязуется в письменной форме уведомлять о них Заказчика путем публикации соответствующей новости на сайте text.ru.<br />
<br />
<br />
    <form action = "{% url 'ai:register_page' %}" method = "POST">

        {% csrf_token %}
        <button type="submit">Соглашаюсь с условиями оферты</button>
    </form>
<br />
<br />


{% endblock %}