<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="static/ai/mystyle.css" type="text/css">
    <title>Page_2</title>
</head>
<body>

 {% load static %}

<h1>АСУ ТП - Крупный рогатый скот</h1>
<p>1. Каждому животному устанавливается чип радиочастотной идентификации (RFID). В соответствии с международным стандартом (ISO 11784/85), чип содержит 15-и разрядный код, в котором отражена информация о стране нахождения, о производителе чипов и животном - индивидуальный код животного. Этот код не может быть изменен и является пожизненным паспортом животного. С этого момента вся доступная информация, связанная с этим животным, будет заноситься в базу данных. Это может быть информация о лактационном периоде, надоях, кормовых добавках, применении препаратов, данные бонитировки (по происхождению, продуктивности, экстерьеру, живому весу и качеству потомства) и т. д.</p>

<p>2. База данных всех животных доступна ответственным сотрудникам и может быть использована в управлении животноводческим хозяйством. База данных позволяет увидеть результаты хозяйственной деятельности в простой наглядной форме (таблицы и графики), проводить анализ эффективности мероприятий, а также отслеживать их влияние на ключевые параметры воспроизводства стада. Значительное количество накопленных данных позволяет проводить статистический анализ для выявления зависимостей, которые можно использовать в работе. Это позволит обоснованно оптимизировать деятельность хозяйства, в зависимости от выбранных целевых параметров в целом, а также получать подробную информацию отдельно по каждому животному. Можно посмотреть, как менялся вес, надои и жирность молока за интересующий период в привязке к проводимым процедурам, изменениям в рационе питания, условий содержания и пр.</p>

<p>3. Система датчиков позволяет вести мониторинг и накапливать полезные для ведения хозяйства телеметрические данные. Например, о состоянии здоровья животных (температура тела животного, пульс), об условиях содержания (температура и влажность окружающей среды, концентрация CO2, CH4 и др.). Система мониторинга предупредит о возможном заболевании, что позволит принять необходимые меры на ранних стадиях заболевания животного, а также о повышенных концентрациях газов в помещении содержания животных. Система датчиков может быть дополнена в зависимости от производственной необходимости.</p>

<p>4. Разработанная нашей компанией методология позволяет рассматривать животноводческое хозяйство как единую экосистему, в которой все параметры находятся во взаимной увязке, начиная с кормозаготовки и заканчивая реализацией готовой продукции. Система позволяет обнаружить все зависимости параметров деятельности животноводческого хозяйства. Например, зависимость надоев и жирности молока от температуры и влажности окружающей среды, кормового рациона или уровня заболеваемости. Или, например, зависимость процента стельных коров к 150-му дню лактации от зарплаты техника осеменатора. Все обрабатываемые параметры проверяются на корреляцию каждого параметра с каждым для выявления существующих зависимостей и классифицируются по уровню значимости.</p>

<p>5. Система может быть реализована в локальной сети предприятия или размещена на сервере, а сети интернет. Система может быть дополнительно оснащена функциями искусственного интеллекта для помощи персоналу в принятии решений, например, относительно сроков осеменения, на основе особенностей поведения животных, а также по совокупности, собранной в базе данных информации по каждому животному. </p>



</body>
</html>